:root {
    font-size: 16px;
}

.ifoSec1 {
     background-image: url("/public/images/Ifo-images/ifo-banner-dark.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11.8rem;
}

.initialSec {
    max-width: 75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.btnSection {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.h1{
    color: #f4eeff;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 44px;
}

.stam{
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    padding-left: 0.7rem;
}


@media screen and (min-width: 53.25rem) {
    .heading2 {
        font-size: 1.25rem;
    }
    #h1{
        font-size: 54px;
    }
}

@media screen and (min-width: 23.125rem) {
    .initialSec {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
@media screen and (max-width: 550px) {
    #hDiw{
        background-color: #353547;
        color: #1fc7d4;
        padding: 4px 13px;
        height: auto;
        text-transform: uppercase;
        align-self: flex-start;
        font-size: 12px;
        box-shadow: inset 0 2px 2px -1px rgba(74,74,104,.1);;
        border-radius: 8px;
        margin-left: 8px;
        width: 10rem;
    }
    #btnSection {
        display: flex;
        justify-content: normal;
    }
    #h1{

    }
}

.heading2 {
    color: #f4eeff;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
}

.hDiw {
    position: relative;
    align-items: center;
    border: 0;
    border-radius: 1rem;
    box-shadow: rgba(14, 14, 44, 0.4);
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0;
    height: 3rem;
    padding: 0 1.5rem;
    background-color: #b8add2;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    color: #27262c;
}

.hDiw:hover {
    opacity: 50%;
}

.ifoSec2{
    display: flex;
    gap: 2.5rem;
    padding: 2.5rem;
    justify-content: center;


}
.stakeCakeSec{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sCk1, .sCk2{
    border-radius: 24px;
    min-width: 280px;
    max-width: 350px;
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid #74a9f3;
    flex-direction: column;
    background-color: #27262c;
    animation: borderAnimation 3s ease-in-out infinite alternate;
    border-bottom: 4px solid #74a9f3;

}

@keyframes borderAnimation {
    0%{
        border-color: #74a9f3;
    }
    50%{
        border-color: #9a6aff;
    }
    100%{
        border-color: #58fde5
    }
}
.k1,.k2,.k3{
    display: flex;
    flex-direction: column;
}

.k1div{
    display: flex;
    justify-content: space-between;
    height: auto;
    background: linear-gradient(166.77deg,#3b4155,#3a3045);;
    color: mediumblue;
    padding: 1.5rem 0.9rem;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px ;
}
.k1{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.ifoImage1{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: auto;
}
.beer{
    width: 59px;

}
.arrReverse{
    position: absolute;
    width: 32px;
    margin-bottom: -0.5rem;
    margin-left: 2rem;
}
.k2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.k2{
    padding: 1.7rem;
}
.k21{
    padding: 1.25rem;

    border: 1px solid #383241;
    background-color: #08060b;
    border-radius: 16px;
}
.fle{
    color: #b8add2;
    font-weight: 600;
    line-height: 1.5;
    font-size: 12px;
    text-transform: uppercase;
}
.json{
    color: #f4eeff;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
}
.fApy, .fApr{
    display: flex;
    justify-content: space-between;
}
.ewallet2{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
#auto\/locked{
    width: 5rem;
    display: inline-flex;
    align-items: center;
}
#topDetailsBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: auto;
}
.k3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit ;
    border-top: 1px solid #383241;
    padding: 24px;
}
.k1sec2{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem;
    text-align: center;
}
.ques\?{
    width: 80px;
}

.sCk3{
    max-width: 744px;
    gap: 1.3rem;
    border-radius: 24px;
    min-width: 280px;
    float: right;
    display: flex;
    flex-direction: column;
    color: #f4eeff;
    height: 100%;
    width: 100%;
    background-color: #383241;
}
@media screen and (max-width: 852px) {
    .jnLastSec{
        flex-direction: column-reverse;
        max-height: 100%;
        min-width: 100%;
        align-items: center;
    }

}
.LastSec{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
}
.sect1{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #f4eeff;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
@media  screen and (max-width: 1199px) {
    .sect1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (max-width: 1080px) {
    .ifoSec2{
        flex-direction: column;
    }
    .stakeCakeSec{
        align-items: center;
    }
    .sCk3{
        align-self: center;
        max-width: 100%;
    }
}
.rect1{
    display: flex;
    flex-direction: column;
    max-width: 366px;
    border-radius: 24px;
    padding-bottom: 2rem;
    background-color: #27262c;
    max-height: 16.75rem;
}
.comingSoon{
    width: 100%;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 100% 40px;
    border-bottom-right-radius: 100% 40px;
}
.cmsDiv{
    background-color: #383241;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}
.fle1{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25rem;
    display: inline-flex;
    justify-content: space-between;
    padding: 15px 24px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: linear-gradient(180deg,#6c4999,#6d4db2);;
}
#fle2{
    background:  linear-gradient(180deg,#00707f,#19778c);;
}
.ad{
    color: #f4eeff;
    line-height: 1.5;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.ads{
    color: #f4eeff;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.k1sec22{
    padding: 1.5rem;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
}


.lin1,.lin2,.lin3,.lin4{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #383241;
    border-radius: 24px;
    padding: 1rem;
    background-color: #27262c;
    border-bottom: 4px solid #383241;
    text-align: left;
}
.hiddenLin{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #383241;
    border-radius: 24px;
    padding: 1rem;
}
.lin1,#hidden1{
    max-width: 28rem;
}
.lin2,#hidden2{
    max-width: 32rem;
}
.lin3,#hidden3{
    max-width: 32rem;
}
.lin4,#hidden4{
    max-width: 32.5rem;
}

.circleNumbers{
    display: flex;
    width: 80px;
    font-size: 40px;
    min-height: 80px;
    min-width: 80px;
    height: 80px;
    box-shadow: rgba(25, 19, 38, 0.15) 0 1px 4px;
    background-color: #191326;
    border: 2px solid transparent;
    border-radius: 50%;
    color: #666171;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 5;
}
#circleNumbers1{
    color: #191326;
    background-color: #9a6aff;
}
.divLine1{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 852px) {
    #circleNumbers1,#circleNumbers2,#circleNumbers3,#circleNumbers4 {
        font-size: 32px;
        width: 48px;
        height: 48px;
        min-height: 48px;
        min-width: 48px;
    }
    #main2{
        justify-content: flex-start;
        align-items: flex-start;
        float: left;
        flex-direction: column;
        padding: 1.5rem;
        gap: 1.3rem;
    }
    .verticalLine1{
        display: none;
        visibility: hidden;
    }
    .lin1,.lin2,.lin3,.lin4{
        display: none;
    }
    #hidden1,#hidden2,#hidden3,#hidden4{
        visibility: visible;
    }
    #verticalLine2 {
        display: flex;
        left: -205px;
        width: 508px;
    }
    #divLin1,#divLin3{
        flex-direction: row-reverse;

    }

}
@media screen and (max-width: 557px) {
    #verticalLine2{
        width: 590px;
        margin-bottom: -20px;
        left: -245px;
    }
}
@media screen and (max-width: 453px) {
    #verticalLine2{
        width: 700px;
        margin-bottom: -135px;
        left: -300px;
    }
}
.hiddenLin{
    visibility: hidden;

}
#justify,#justify2{
    text-align: left;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    background: linear-gradient(139.73deg,#313d5c,#3d2a54);;
}
#psHead{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: #9a6aff;
}

.h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.48rem;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 24px;
    color: #9a6aff;

}
.opt_kids:hover{
    cursor: pointer;
}
#ifoPAGEBtn,#ifoPAGEBtn2{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #9a6aff;
}
.verticalLine1{
    border: 1px solid #666171FF;
    display: flex;
    position: absolute;
    height: 3px;
    width: 540px;
    transform: rotate(90deg);
    margin-top: 128px;
    background: linear-gradient(to right, #31d0aa 125px, #31d0aa 125px, #666171 125px, #666171 100%);
}
@media screen and (max-width: 1132px) {
    #verticalLine1{
        position: absolute;
        height: 4px;
        width: 581px;
        transform: rotate(90deg);
        margin-top: 122px;
        background: linear-gradient(to right, #31d0aa 110px, #31d0aa 110px, #666171 110px, #666171 100%);
    }
}
.hd1{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.375rem;
    color: #9a6aff;
    margin-left: 0.55rem;
}
#greenBtn {
    max-width: 165px;
    max-height: 48px;
}
.dottedUnderLine{
    text-decoration: underline dotted;
}
.verticalLine2{
    display: none;
    border: 1px solid #666171FF;
    position: absolute;
    height: 4px;
    width: 581px;
    transform: rotate(90deg);
    margin-top: 122px;
    background: linear-gradient(to right, #31d0aa 110px, #31d0aa 110px, #666171 110px, #666171 100%);
}

.bunny{
    max-width: 414px;
    max-height: 500px;
    margin-top: 1rem;
}
.frequentQueSec{
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 696px;
    background-color: #27262c;
    box-shadow: 1.3px 3px #383241;
    color: #f4eeff;
    border-radius: 24px;
    margin-bottom: 2rem;
}

.jnLastSec{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

#refLink{
    margin-left: 1.8rem;
    display: inline-flex;
    gap: 0.5rem;
}
.helpSecDiv{
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
}
.ques{
    color: #b8add2;
}
.details{
    padding: 1.5rem;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    color: #9a6aff;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.625rem;
    background: linear-gradient(166.77deg,#3b4155,#3a3045);;
}
#bolded{
    font-weight: 700;
}
.adSmall{
    display: none;
    color: #b8add2;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    max-width: 585px;
}
.hereLinks{
    color: #1fc7d4;
    font-weight: 600;

}
.hereLinks:hover{
    cursor: pointer;
    text-decoration: underline;
}
.quesdiv{
    display: flex;
    justify-content: space-between;
}
.btnDetails{
    border: none;
    position: relative;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0 24px;
    background-color: transparent;
    color: #1fc7d4;
}
.btnDetails:hover{
    opacity: 50%;
}
.darrow{
    margin-left: 0.5rem;
    transform: rotate(0)
}
.ifoMain{
    margin-top: 50px;
    background-color: #08060b;
    height: 100%;
}
.tkVesting{
    display: flex;
    flex-direction: column;
    font-size: 1.48rem;
    font-weight: 600;
    line-height: 1.1;
    color: #9a6aff;
    width: 80%;
}

#stam{
    margin-left: -0.7rem;
}
#beer{
    margin-top: -0.5rem;
}
#hash{
    margin-bottom: 8px;
}



