body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.graph-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.price-change-list-card {
  margin-top: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.header-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.header-option {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #d8d8d8;
  border-radius: 4px;
}

.header-option:hover {
  background-color: #ccc;
}
